@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    font-style: normal;
}

.fira-sans-default {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* common */
.color-1 {
    color: #006A50;
}

.color-2 {
    color: #C6E4D6;
}

.card-bg-color-1 {
    background-color: rgb(186, 220, 254);
}

.card-bg-color-2 {
    background-color: #C6E4D6;
}

.card-bg-color-3 {
    background-color: #F7EBCF;
}

.card-btn-color-1 {
    background-color: #5490F5;
}

.card-btn-color-2 {
    background-color: #09A15C;
}

.card-btn-color-3 {
    background-color: #FFC239;
}
.qoute-color{
    color: #0E0E0E;
}



/* specifics */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}

.navbar h3 {
    font-weight: 700;
    font-size: 32px;
    height: 38px;
    width: 222px;
    margin-top: 31px 0px;
}

.navbar button {
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    border: 2px solid #006A50;
    border-radius: 8px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 20px 160px 0px;
    padding: 0px 80px;
    border-radius: 24px;
}

.banner-container * {
    background-color: inherit;
}

.banner-content {
    width: 622px;
    margin: 117px 0px;
}

.banner-content p {
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.banner-content h1 {
    font-weight: 700;
    font-size: 56px;
    color: rgb(14, 14, 14);
    margin-bottom: 24px;
}

.banner-content img {
    width: 474px;
    margin: 80px 0px;
}

.banner-content button {
    background-color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 17px 34px;
}

#vision {
    margin: 80px 160px 0px;
    display: block;
}

.vision-title h1 {
    font-weight: 700;
    font-size: 40px;
}

.vision-title p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.vision-card-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.vision-card {
    flex: 1;
    padding: 32px;
    border-radius: 16px;
}

/* .vision-card * {
    background-color: inherit;
} */

.vision-card .card-img {
    margin-bottom: 24px;
    background-color: inherit;
}

.vision-card .card-title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    background-color: inherit;
}

.vision-card .card-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
}

.vision-card .card-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border: 0px;
    border-radius: 8px;
}

.quote{
    margin-top: 32px;
    background:url('../assets/quote-bg.png'), #FFFFFF;
    background-repeat: no-repeat;
    padding: 48px 24px;
    border-radius: 16px;
}
.quote *{
    background: transparent;
}
.quote .quote-body{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}
.quote .quote-by{
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}
.quote .designation{
    font-size: 16px;
    font-weight: 400;
}