@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    font-style: normal;
}

.fira-sans-default {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* common */
.color-1 {
    color: #006A50;
}

.color-2 {
    color: #C6E4D6;
}

.card-bg-color-1 {
    background-color: rgb(186, 220, 254);
}

.card-bg-color-2 {
    background-color: #C6E4D6;
}

.card-bg-color-3 {
    background-color: #F7EBCF;
}

.card-btn-color-1 {
    background-color: #5490F5;
}

.card-btn-color-2 {
    background-color: #09A15C;
}

.card-btn-color-3 {
    background-color: #FFC239;
}

.qoute-color {
    color: #0E0E0E;
}



/* specifics */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}

.navbar h3 {
    font-weight: 700;
    font-size: 32px;
    height: 38px;
    width: 222px;
    margin-top: 31px 0px;
}

.navbar button {
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    border: 2px solid #006A50;
    border-radius: 8px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #C6E4D6;
    margin: 20px 160px 0px;
    padding: 0px 80px;
    border-radius: 24px;
}

.banner-container * {
    background-color: inherit;
}

.banner-content {
    width: 622px;
    margin: 117px 0px;
}

.banner-content p {
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.banner-content h1 {
    font-weight: 700;
    font-size: 56px;
    color: rgb(14, 14, 14);
    margin-bottom: 24px;
}

.banner-content img {
    width: 474px;
    margin: 80px 0px;
}

.banner-content button {
    background-color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    color: white;
    border: 0px;
    border-radius: 8px;
    padding: 17px 34px;
}

#vision {
    margin: 80px 160px 0px;
    display: block;
}

.vision-title h1 {
    font-weight: 700;
    font-size: 40px;
}

.vision-title p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.vision-card-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.vision-card {
    flex: 1;
    padding: 32px;
    border-radius: 16px;
}

/* .vision-card * {
    background-color: inherit;
} */

.vision-card .card-img {
    margin-bottom: 24px;
    background-color: inherit;
}

.vision-card .card-title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    background-color: inherit;
}

.vision-card .card-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: inherit;
}

.vision-card .card-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border: 0px;
    border-radius: 8px;
}

.quote {
    margin-top: 32px;
    background: url('../assets/quote-bg.png'), #FFFFFF;
    background-repeat: no-repeat;
    padding: 48px 24px;
    border-radius: 16px;
}

.quote * {
    background: transparent;
}

.quote .quote-body {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}

.quote .quote-by {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}

.quote .designation {
    font-size: 16px;
    font-weight: 400;
}

#opinion {
    margin: 80px 160px 0px;
    display: block;
}

#opinion .question {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 16px;
    margin-top: 24px;
}

/* #opinion .question *{
    background-color: inherit;
} */
#opinion h1 {
    font-weight: 700;
    font-size: 40px;
}

.question table {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
}

/* .question table *{
    padding: 24px;
} */
.question th {
    background-color: #C6E4D6;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.question td {
    background-color: #FFFFFF;
    border: 0.5px solid #00000079;
    font-size: 16px;
    font-weight: 600;
}

.question .left-column {
    width: auto;
    padding: 24px 0px 24px 24px;
}

.question .right-column {
    padding: 24px 24px 24px 0px;
    width: 1%;
    white-space: nowrap;
}

.question select {
    background-color: #C6E4D6;
    margin: 24px;
    padding: 12.5px 16.5px;
}

.question option {
    font-size: 16px;
    font-weight: 500;
}

#recent-news{
    margin: 80px 160px 0px;
    display: block;
}
#recent-news > h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
#recent-news .news-short{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;   
}
.news-container{
    background-color: #FFFFFF;
    padding: 48px;
    margin-bottom: 24px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}
.news-container *{
    background-color: inherit;
}
.news-img img{
    border-radius: 24px;
}
.news-head{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.news-date-time{
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px;
}
.news-desc{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.news-more{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 13px 26px;
    border: 0px;
    border-radius: 8px;
}

#donate{
    margin: 80px 160px 0px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.donation-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.donation-subtitle{
    text-align: center;
    padding: 0px 60px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.donation-amount-container{
    display: flex;
    gap: 24px;
    justify-content:space-between;
    margin-bottom: 32px;
}
.donation-amount-container button{
    font-size: 40px;
    font-weight: 700;
    padding: 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.donation-amount-container .for500{
    background-color: #C6E4D6;
}
.amount-box {
    padding: 0px 124px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.amount-box input {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    box-sizing: border-box;
    border: 0px; 
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}
.donation-done{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
}